body {
  text-align: center;
}

#playagain {
  display: none;
}

#angry {
  height: 500px;
  width: 500px;
  display: none;
}

#eating {
  height: 500px;
  width: 500px;
  display: none;
}

#dead {
  max-width: 100%;
  display: none;
}
